{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2"> <img src="{% static 'title.bmp' %}" class="img-responsive center-block" > </div>
</div>
</div>
{% if request.user.is_authenticated and usermore.vocabulary %}
<h2 style="text-align:center">Hello，{{usermore}}</h2>
<div class="col-md-8 col-md-offset-2">
  {% if message == 'Task today is finished! Want one more task? Click Here!' %}<div class="alert alert-success" role="alert"><strong><a href="{%url 'words:moretaskview' %}">{{ message }}</a></strong></div>{% endif %}
  {% if message == 'This vocabulary is finished! Go and change the vocabualry'%}<div class="alert alert-success" role="alert"><strong><a href="{%url 'words:settingsview' %}">{{ message }}</a></strong></div>{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align:center">学习状态</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>正在背诵的范围</th>
          <th>每日的单词学习量</th>
          <th>未学习的单词数量</th>
          <th>已学习的单词数量</th>
          <th>已掌握的单词数量</th>
        </tr>
      </thead>
      <tbody>
        <td>{{usermore.vocabulary}}</td>
        <td>{{usermore.daily_words}}</td>
        <td>{{usermore.unfinished_count}}</td>
        <td>{{usermore.learned_count}}</td>
        <td>{{usermore.finished_count}}</td>
      </tbody>
    </table>
  </div>
</div>
<a href="{%url 'words:taskview'%}"><button type="button" class="btn btn-info">去学习</button></a>
</div>
{%endif%}
{%if request.user.is_authenticated and not usermore.vocabulary%}
<h2 style="text-align:center">Hello，{{usermore}}</h2>
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align:center">学习状态</h3>
  </div>
  <div class="panel-body">
你还没有单词背诵的设置，快去<a href="{%url 'words:settingsview'%}">设置</a>
  </div>
</div>
</div>
{%endif%}
{%if not request.user.is_authenticated%}
<h2 style="text-align:center">没有登陆？快去<a href="{%url 'words:loginview'%}">登陆</a></h2>
<h2 style="text-align:center">没有账号？快去<a href="{%url 'words:registerview'%}">注册</a></h2>
{% endif %}

{%endblock%}
